/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*Fonts*/

body{
  font-family: "Karla", Arial, sans-serif;
  color:black;
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
}

h1{
  font-size: 3.125em;  
  font-weight: bold;
}

h2{
  font-size:1.875em;
  font-weight: normal;
}

h3{
  font-size:1.375em;
  /*letter-spacing: 0.2em;*/
}

h4{
  font-size: 1.12em;
}

h5{
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color:black;
  text-transform: uppercase;
  margin-top:3em;
}

/*p{
  font-size: 0.875em;
  color:#333333;
}*/

/*Sections*/
section:not([id]) {
  margin: 1em 0;
  padding: 4em 0em ;
  /*border-bottom: 0.15em solid #333;*/
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}



#combined_elements h1{
  margin-top:4em;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

div{
  padding: 0px;
  margin: 0px;
  text-align: center;
}


.light-grey{
  color:#BDBDBD !important;
}

.contact_form{
  position: relative;
  border: 1px solid black;
  width: 60em;
  margin: auto;
  top: 5em;
  padding: 0px;
}

.phone_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid black;

}

.phone{
  width: 30%;
  position: relative;
  display: inline-block;
}

.title{
  width: 68%;
  position: relative;
  display: inline-block;
    border-left: 0.1em solid black;

}

.email_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid black;

}

.row1{
  border-bottom: 0.1em solid black;
  position: absolute;
  right: 0px;
  width: 68.9%;
  height: 3.2em;
}
.email{

  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.email_name{

  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid black;
/*  border-bottom: 0.1em solid black;
*/

}
.email_filler{
  width: 30%;
  position: relative;
  display: inline-block;
}

.email_phone{
  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid black;
}

/* Styling for the navigation */
/*.button-nav {
  display: inline-block;
  color: black;
  width: auto;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
*/
.main-button{
  width: 10em;
  height: 2.7em;
  background-color: #00b1b0;
  color:white;
  outline: none;
}

.main-button:hover, .main-button:focus{
  background-color: black;
  color:white;

} 

button:hover, button:focus, a:hover, a:focus {
  color: #00b1b0;
  border-color: #a8b4b7;
  text-decoration: none;

}

.address_info{
  width: 100%;
  position: relative;
  display: inline-block;

}


.address{


  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.message{

  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid black;
/*  border-bottom: 0.1em solid black;
*/

}
.address_filler{
  left: 0px;
  width: 30%;
  position: relative;
  display: inline-block;
  color: white;
}

.send{
  width: 68%;
  position: relative;
  display: inline-block;

  
}
.row2{
  border-top: 0.1em solid black;
  position: absolute;
  top: 3.1em;
  right: 0px;
  width: 68.8%;
  height: 3.1em;
  border-left: 0.1em solid black;
  background-color: #bebebe;

}

img{
  width: 100%;
   height: auto;
}

.row2:hover {
  background-color: #00b1b0;
}

/* Product page css */
.product_page{
  position: relative;
  border: 1px solid black;
  width: 60em;
  height: 32em;
  margin: auto;
  top: 5em;
  padding: 0px;
}

.product_image{
  left:0px;
  position: absolute;
  display: inline-block;
  margin: 1em;
  border: 0.1em solid black;
  width: 40em;
  height:30em;
}

.product_details{
  right: 0px;
  top: 0px;
  position: absolute;
  display: inline-block;
  width: 16.7em;
  height:30em;
  margin-top: 1em;
  margin-right: 1em;
  border: 0.1em solid black;


}

/*Home page*/

.intro{
  position: relative;
  top:5em;
  left:5em;
  text-align: left;
}

.feature-product-row{
  width: 100%;
  display: inline-block;
}

.featured-product{
  width: 50%;
  position: relative;
  top:5em;
}

.featured-product figurecaption{
  padding:1em;
  position: absolute;
  top: 30%;

}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

/*Product page*/
.product-cover{
  
}

.product-row{
  position: relative;
  top:5em;
}

.product-tile{
  border-bottom: 1px black solid;
}


/*Blog page*/
.blog-post{
  position: relative;
  top:5em;
  padding: 0 10em;
}