/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*Fonts*/

body{
  font-family: "Karla", Arial, sans-serif;
  color:black;
  margin: 0px;
  padding: 0px;
  font-size: 0.9em !important;
}

h1{
  font-size: 3.125em;  
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0.1em;
}

h2{
  font-size:1.875em;
  font-weight: normal;
  padding: 1em;
  margin: 1em;
}

h3{
  font-size:1.375em;
  /*letter-spacing: 0.2em;*/
}

h4{
  font-size: 1.12em;
}

h5{
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color:black;
  text-transform: uppercase;
  margin-top:3em;
}

footer{
  position: absolute;
  bottom: 0px;
}


#combined_elements h1{
  margin-top:4em;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

div{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

textarea {
    resize: none;
}

.header{
  position: absolute;
  left: 4em;
  text-align: left
}

.light-grey{
  color:#BDBDBD !important;
}

.white{
  color:white !important;
}

.contact_form{
  position: relative;
  border: 1px solid #00b1b0;
  width: 60em;
  margin: auto;
  top: 5em;
  padding: 0px;
  margin-bottom: 20%; 
}

.phone_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid #00b1b0;

}

.phone{
  width: 30%;
  position: relative;
  display: inline-block;
}

.title{
  text-align: left;
  padding-left: 3.4%;
  width: 64.6%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;

}

.email_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid #00b1b0;

}

.row1{
  border-bottom: 0.1em solid #00b1b0;
  position: absolute;
  right: 0px;
  width: 68.9%;
  height: 3.2em;
}
.email{

  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.email_name{

  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
/*  border-bottom: 0.1em solid black;
*/

}
.email_filler{
  width: 30%;
  position: relative;
  display: inline-block;
}

.email_phone{
  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
}

/* Styling for the navigation */
/*.button-nav {
  display: inline-block;
  color: black;
  width: auto;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
*/
.main-button{
  width: 10em;
  height: 2.7em;
  background-color: #00b1b0;
  color:white;
  outline: none;
}

.main-button:hover, .main-button:focus{
  background-color: black;
  color:white;

} 

button:hover, button:focus, a:hover, a:focus {
  color: #00b1b0;
  border-color: #a8b4b7;
  text-decoration: none;

}

.address_info{
  width: 100%;
  position: relative;
  display: inline-block;

}


.address{

  height: 14.25em;
  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.message{
  right: 0px;
  width: 68.7%;
  position: absolute;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
/*  border-bottom: 0.1em solid black;
*/

}
.address_filler{
  left: 0px;
  top: 3.1em;
  width: 30%;
  position: absolute;
  display: inline-block;
  color: black;
}

.send{
  width: 68%;
  position: relative;
  display: inline-block;

  
}
.row2{
  border-top: 0.1em solid #00b1b0;
  position: absolute;
  top: 11.05em;
  right: 0px;
  width: 68.8%;
  height: 3.1em;
  border-left: 0.1em solid #00b1b0;
  /*background-color: #bebebe;*/
  background-color: #00b1b0;

}

.row2 a{
  color:white;
}

#contact_message{
  height: 10em;
}

.contact_us{
  width: 90%;
  border: none;

}
.contact_us:focus{
  outline: none;
}

.cart_image{
  position: absolute;
  height: 9em;
  width: 9em;
  border: 1px solid black;
}

.cart_item{
  position: absolute;
  left: 15em;

}

.cart_price{
  
}

img{
  /*width: 100%;
  height: auto;*/
  display: block;
  max-width: 100%;
  height: auto;
}

.row2:hover {
  background-color: #008A89;
  
}

/* ----------------- Product page css ----------------- */
.product_page{
  position: relative;
/*  border: 1px solid black;
*/  width: 60em;
  height: 60em;
  margin: auto;
  top: 5em;
  padding: 0px;
}

.product1, .product2, .product3{
/*  padding-right: 1em;
*/  width: 30%;
  vertical-align: top;
  position: relative;
  display: inline-block;
/*  border: 1px solid black;
*/}

.product_row1{
  margin-top: 1em;
}

.product_list_image{
  /*padding: 1em;*/
  position: relative;
  display: block;
  padding: 0px;
  margin: 0px;

/*  overflow:hidden;
  text-align: center;
*/  /*width: 100%;*/

}

@media(max-width: 38em){
  .product1, .product2, .product3{
  padding-right: 1em;
  width: 100%;
  display: inline-block;
  } 

}

.list_image{
  max-width:100%;
max-height:100%;
}


.product_image{
  left:0px;
  position: absolute;
  display: inline-block;
  margin: 1em;
  border: 0.1em solid black;
  width: 40em;
  height:30em;
}

.product_details{
  right: 0px;
  top: 0px;
  position: absolute;
  display: inline-block;
  width: 16.7em;
  height:30em;
  margin-top: 1em;
  margin-right: 1em;
  border: 0.1em solid black;


}

.details_title{

}

.product_info, .product_price{
  border-bottom: 0.1em solid #d0d0d0;
  height: 29.8%;
}


.product_thumb1, .product_thumb2, .product_thumb3, .product_thumb4, .product_image{
  background-image: url("../img/featured-product-1.jpg");
}

.product_thumb1{
  border: 0.1em solid black;
  position: absolute;
  left: 3em;
  top: 32em;
  width: 6em;
  height: 6em;
}
.product_thumb2{
  border: 0.1em solid black;
  position: absolute;
  left: 13em;
  top: 32em;
  width: 6em;
  height: 6em;
}
.product_thumb3{
  border: 0.1em solid black;
  position: absolute;
  left: 23em;
  top: 32em;
  width: 6em;
  height: 6em;
}
.product_thumb4{
  border: 0.1em solid black;
  position: absolute;
  left: 33em;
  top: 32em;
  width: 6em;
  height: 6em;
}

.cart_button{
  border: 0.1em solid black;
  position: absolute;
  left: 45em;
  top: 32em;
  width: 11em;
  background-color: #bebebe;
}

.cart_button:hover{
  background-color: #00b1b0;
  color: black;
}

.product_review1{
  left:0px;
  top: 40em;
  position: absolute;
  display: inline-block;
  margin: 1em;
  border: 0.1em solid black;
  width: 40em;
  height:12em;

}


.product_review_poster{
  left:0px;
  position: absolute;
  display: inline-block;
  margin: 1em;
/*  border: 0.1em solid black;
*/  width: 10em;
  height:10em;
}


.poster_name{
  text-align: left;
  padding-left: 1em;
}

.star_rating{
  border: 0.1em solid black;
  margin: 1em;
}

.product_review{
  text-align: left;
  padding-left: 1em;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 26em;
}

/* -------------- About Page --------------- */

.about_page{
  position: relative;
  width: 60em;
  height: 40em;
  margin: auto;
  top: 5em;
  padding: 0px;
  display: block;
  padding-bottom: 50em;
}

.about-cover{
  position: relative;
  background-image: url("../img/about-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;
}

.about_content{
  padding: 1em 2em;
  font-size: 1rem; 
  line-height: 1.5em;
  border-bottom: 1px solid #b5e3d8;
}

.about_image{
  position: absolute;
  padding: 2em;
  height: 15em;
  width: 15em;
  top: 4em;
}

.moral{
}

.about_moral1, .about_moral2, .about_moral3{
  position: absolute;
  height: 19em;
  width: 15em;
  top: 18em;
}
.about_moral1{

  left: 4em;

/*  border: 1px solid black;
*/}
.about_moral2{

  left: 22em;

  /*border: 1px solid black;*/
}
.about_moral3{

  left: 40em;

  /*border: 1px solid black;*/
}

.about-discover{
  /*background-color: #F2F2F2;
  height:20em;
  padding:5em;*/
  position: relative;
  background-image: url("../img/about-discover-more-products.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:auto;
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 3em;
  padding-bottom:6em;
}




/*Home page*/

.intro{
  position: relative;
  top:5em;
  /*left:5em;*/
  text-align: left;
}

.feature-product-row{
  /*width: 100%;*/
  /*display: inline-block;*/
}

.featured-product{
  width: 50%;
  position: relative;
  top:5em;
}

.featured-product figurecaption{
  padding:1em;
  position: absolute;
  top: 30%;

}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

/*Product page*/
.product-cover{
  position: relative;
  background-image: url("../img/product-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;

}

.product-row{
  position: relative;
  top:5em;
}

.product-tile{
  border-bottom: 1px black solid;
}

.product-tile img:hover, .blog-post a img:hover{
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */

}

.product-tile p, .product-tile h4{
  padding:0 20px;
}

/*Blog page*/
.blog-post{
  position: relative;
  top:5em;
  padding: 0 10em;
}

.blog-cover{
  position: relative;
  background-image: url("../img/blog-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;
}

.blog-tile-cover {
  object-fit: cover;
  width: 22em;
  height: 18em;
}
/*Footer*/
footer{
  display: block;
  position: relative;
  top:5em;
  width: 100%;
  background-color: #00b1b0;
  color:#b5e3d8;
  text-align: center;
  padding:1em;
  margin-top: 2em;
}

/*Fit image to container*/
.cover {
  object-fit: cover;
  width: 30em;
  height: 20em;
}