/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*Fonts*/

body{
  font-family: "Karla", Arial, sans-serif;
  color:black;
  margin: 0px;
  padding: 0px;
  font-size: 0.9em !important;
  text-align: center;
}

h1{
  font-size: 3.125em;  
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0.1em;
}

h2{
  font-size:1.875em;
  font-weight: normal;
  padding: 1em 0em;
  margin: 0em;
}

h3{
  font-size:1.375em;
  /*letter-spacing: 0.2em;*/
}

h4{
  font-size: 1.12em;
}

h5{
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color:black;
  text-transform: uppercase;
  margin-top:3em;
}

footer{
  position: absolute;
  bottom: 0px;
}


#combined_elements h1{
  margin-top: 4em;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

div{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

textarea {
    resize: none;
}

.header{
  position: absolute;
  left: 4em;
  text-align: left
}

.light-grey{
  color:#BDBDBD !important;
}

.white{
  color:white !important;
}


/* --------------------- Contact Page --------------------- */
.contact-cover{
  position: relative;
  background-image: url("../img/contact-cover.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:.8em;
  margin: 0px;

  padding-top: 8em;
  padding-bottom:18em;
}

.contact_form{
  position: relative;
  margin: 0px auto;
  width: 80%;
  top: 5em;
  padding: 0px;
  margin-bottom: 20%; 
}

.phone_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid #00b1b0;

}

.phone{
  width: 30%;
  position: relative;
  display: inline-block;
}

.title{
  text-align: left;
  padding-left: 3.4%;
  width: 64.6%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;

}

.email_info{
  width: 100%;
  position: relative;
  display: inline-block;
  border-bottom: 0.1em solid #00b1b0;

}

.row1{
  border-bottom: 0.1em solid #00b1b0;
  position: absolute;
  right: 0px;
  width: 68.9%;
  height: 3.2em;
}
.email{

  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.email_name{

  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
/*  border-bottom: 0.1em solid black;
*/

}
.email_filler{
  width: 30%;
  position: relative;
  display: inline-block;
}

.email_phone{
  width: 68%;
  position: relative;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
}

/* Styling for the navigation */
/*.button-nav {
  display: inline-block;
  color: black;
  width: auto;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
*/
.main-button{
/*  height: 2.7em;
*/  
/*  position: relative;
*/  
/*width: 8em;*/
width: 10em;
  text-align:  center;
  background-color: #00b1b0;
  color:white;
  outline: none;
/*  margin: auto;
*/  padding: 0.3em;
  font-size: 0.9em;
}

#main_button_center{
    margin: auto;

}

.cart_button{
  text-align:  center;
  background-color: #00b1b0;
  color:white;
  padding: 0.3em;
  margin: 0em;
}

/*.header_button{
  position: relative;
  text-align: center;
  border: 1px solid white;
      margin: 0 auto;

}*/

.main-button:hover, .main-button:focus, .cart_button:hover, .cart_button:focus{
  background-color: black;
  color:white;

} 

button:hover, button:focus, a:hover, a:focus {
  color: #00b1b0;
  border-color: #a8b4b7;
  text-decoration: none;

}

.address_info{
  width: 100%;
  position: relative;
  display: inline-block;

}


.address{

  height: 14.25em;
  width: 30%;
  position: relative;
  display: inline-block;
/*  border-bottom: 0.1em solid white;
*/}
.message{
  right: 0px;
  width: 68.7%;
  position: absolute;
  display: inline-block;
  border-left: 0.1em solid #00b1b0;
/*  border-bottom: 0.1em solid black;
*/

}
.address_filler{
  left: 0px;
  top: 3.1em;
  width: 30%;
  position: absolute;
  display: inline-block;
  color: black;
}

.send{
  width: 68%;
  position: relative;
  display: inline-block;

  
}
.row2{
  border-top: 0.1em solid #00b1b0;
  position: absolute;
  top: 11.05em;
  right: 0px;
  width: 68.8%;
  height: 3.1em;
  border-left: 0.1em solid #00b1b0;
  /*background-color: #bebebe;*/
  background-color: #00b1b0;

}

@media(max-width: 50em){
  .phone, .title, .email, .email_name, .email_filler, .email_phone, .address, .row2,  .message{
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 2%;
    width: 98%;
    border: none;
    border-bottom: 0.1em solid #00b1b0;
    
  } 
  .row2{
/*    margin-left: -1em;
*/    top: 0px;
    border: none;
  }
  .address_filler{
  left: 0px;
  top: 3.1em;
  width: 30%;
  position: absolute;
  display: inline-block;
  color: black;
  }
  .address_filler{
    padding-left: 1em;
    text-align: left;
  }

  .address{
    height: 8em;
  }

  .email_filler{
    height: 3.1em;
  }

  .message{
    border: none;
  }
  .send_button{
    margin: 0px;
    padding: 0px;
    border: none;
    width: 90%;
  }
  .phone_info{
    border: none;
  }
  .contact_form{
    width: 90%;
  }

  .about-contact{
    position: relative;
        margin: 0px;
    text-align: center;
    margin-top: 7em;
  }

}

#contact_us_button{
  
}
/*@media(max-width: 50em){

    width: 100%;
    
  } 

}*/

.contact_footer{
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row2 a{
  color:white;
}

#contact_message{
  height: 11em;
}

.contact_us{
  width: 90%;
  border: none;

}
.contact_us:focus{
  outline: none;
}

img{
  /*width: 100%;
  height: auto;*/
  display: block;
  max-width: 100%;
  height: auto;
}

.row2:hover {
  background-color: #008A89;
  
}
/* ----------------- New contact form css ----------------- */

.cf_left, .cf_right{
  position: relative;
  display: inline-block;
  border: 1px solid #00b1b0;
  padding: 0px;
  margin: 0px;
  left: 0px;


}

.cf_left{
  width: 33%;
}
.cf_right{
  text-align: left;
  width: 66%;
  left: -0.5%;
}

.cf_phone, .cf_email{
  vertical-align: center;
  border-bottom: 1px solid #00b1b0;
}
.cf_p{
  position: relative;
  height: 2em;
  padding-top: 0.6em;
  vertical-align: center;
/*  border: 1px solid black;
*/  margin: 0px;

}
.cf_address{
  height: 14em;
}

#cf_alignl{
  text-align: left;
  padding-left: 5%;
}
#cf_bb{
  border-bottom: 1px solid #00b1b0;
  height: 1.9em;
}

#cf_button{

  position: relative;
  background-color: #00b1b0;
}
.cf_message{
  bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 14em;
  position: relative;
  vertical-align: bottom;
}
.cf_button_div{
/*  position: absolute;
*/  bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.cf_ta_div{
/*  padding-bottom: 10em;
*/}

#cf_whitefont{
  color: white;
}
textarea{
}

.cf_bottom{
  position: absolute;
  left: 33.3%;
  width: 66%;
  bottom: 0em;
}
#cf_button:hover{
    background-color: #008A89;
    color: white;

}

@media(max-width: 58em){
  .cf_right{
    width: 65%;
  }
  .cf_bottom{
    left: 33.7%;
    width: 65.3%;
  } 
}

@media(max-width: 43em){
  .cf_right, .cf_left{
    width: 100%;
    left: 0px;
    text-align: left;
  }
  .cf_left{
    margin-bottom:1em; 
  }
  .cf_p{
    text-align: left;
    padding-left: 5%;
  }
  .cf_bottom{
    width: 100.2%;
    left: 0px;
  }

}


/* ----------------- Product page css ----------------- */
.product_page{
  text-align: left;
  position: relative;

/*  width: 60em;
  height: 60em;
*/  
  margin: auto;
  top: 5em;
width: 80%;
  padding: 0px;

}


.product1, .product2, .product3{
/*  padding-right: 1em;
*/  width: 30%;
  vertical-align: top;
  position: relative;
  display: inline-block;
/*  border: 1px solid black;
*/}

.product_row1{
  margin-top: 1em;
}

.product_list_image{
  /*padding: 1em;*/
  position: relative;
  display: block;
  padding: 0px;
  margin: 0px;

/*  overflow:hidden;
  text-align: center;
*/  /*width: 100%;*/

}


@media(max-width: 45em){
  .product1, .product2, .product3{
  padding-right: 0em;
  width: 48%;
  display: inline-block;
  } 

  .product_page{
    width: 100%;
    padding: 0px;
    padding-left: 1em;
    margin-left: 0px;
  }

}
@media(max-width: 25em){
  .product1, .product2, .product3{
  padding:0px 1em 0em 1em;
  width: 100%;
  display: inline-block;
  } 



}
.list_image{
  margin: 0px auto;
  height:100%;
  width: 100%;


}




.product_image{
  /*left:0px;*/
  /*position: absolute;*/
  display: inline-block;
  /*margin: 1em;
  width: 40em;
  height:30em;*/
}

.product_details{
  width: 98%;
/*  padding-right: 1em;
*/  /*right: 0px;
  top: 0px;
  position: absolute;*/
  display: inline-block;
  /*width: 16.7em;*/
  /*height:30em;*/
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em 0em;
}

.details_title{

}

.product_info, .product_price{
  text-align: left;
  border-bottom: 0.1em solid #d0d0d0;
  /*height: 29.8%;*/
}

.product_info_title{
  padding-bottom: 0px;
}

.product_thumb1{
  /*position: absolute;
  left: 3em;
  top: 32em;
  width: 6em;
  height: 6em;*/
}
.product_thumb2{
 /* position: absolute;
  left: 13em;
  top: 32em;
  width: 6em;
  height: 6em;*/
}
.product_thumb3{
  /*position: absolute;
  left: 23em;
  top: 32em;
  width: 6em;
  height: 6em;*/
}
.product_thumb4{
 /* position: absolute;
  left: 33em;
  top: 32em;
  width: 6em;
  height: 6em;*/
  padding-right: 20px !important;
}

.checkout{
  text-align: left;
  padding-top: 5%;
}

.checkout button{
  width: 100% !important;
}


.poster_name{
  text-align: left;
  padding-left: 1em;
}

.star_rating{
  border: 0.1em solid black;
  margin: 1em;

}

.product_review{
  text-align: left;
  padding-left: 1em;


  margin-top: 5%;
  text-align: left;
  padding: 2% 5%;
  border:1px solid #F0F0F0;
  background-color: #FAFAFA;
}

.product_review h2{
  border-bottom: 1px solid #d0d0d0;
}

.product_review .rating{
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.product_rating, .product_rating .rating{
  text-align: left;
}

.review-content{
  text-align: left !important;
  padding-bottom: 3%;
  border-bottom: 1px solid #F0F0F0;
}


.submit-review{
  text-align: left;
}

.submit-review input, .submit-review textarea{
  height: 3em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
/*
  Ratings Stars
  (with as little code as possible)
*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  padding-bottom: 5%;
  border-bottom: 0.1em solid #d0d0d0;

}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:#F7DA00;
  width: 1.2em;
  height: auto;
}

.rating-feedback > span:hover,
.rating-feedback > span:hover ~ span {
  color: transparent;
}
.rating-feedback > span:hover:before,
.rating-feedback > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #FCEA1C;
}


/* -------------- About Page --------------- */

.about_page{
  position: relative;
  width: 70%;
/*  height: 40em;
*/  margin: auto 0px;
  top: 5em;
  padding: 0px;
  display: inline-block;
  padding-bottom: 10em;
}

.about-cover{
  position: relative;
  background-image: url("../img/about-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;
}

.about_content{
  position: relative;
  padding: 1em 2em;
  font-size: 1rem; 
  line-height: 1.5em;
  border-bottom: 1px solid #b5e3d8;
}

.about_image{
  position: relative;
  display: inline;
/*  height: 15em;
  width: 15em;*/
  top: 4em;
}

.moral{
  width: 100%;
}

.about_moral1, .about_moral2, .about_moral3{
  position: relative;
  display: inline-block;
  width: 25%;
  padding: 0px;
  margin: 3%;
  vertical-align: top;
/*  top: 18em;
*/}

@media(max-width: 48em){
  .about_page{
    width: 100%;
  }


}
@media(max-width: 23em){
  .about_moral1, .about_moral2, .about_moral3{
    width: 100%;
    display: block;
    padding-bottom: 3em;

  }


}


.about-discover{
  /*background-color: #F2F2F2;
  height:20em;
  padding:5em;*/

  position: relative;
  background-image: url("../img/about-discover-more-products.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*width: 100%;
  height:auto;
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 3em;
  padding-bottom:6em;*/

  padding-right: 20%;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom:20%;
  width: 100%;
  height: 40vh;


  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;
}




/*Home page*/
.home-cover{
  position: relative;
  background-image: url("../img/home-cover.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;
  text-align: center;
}

.home-intro-cover{
  position: relative;
  background-image: url("../img/home-intro-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom:20%;
  width: 100%;
  height: 40vh;


  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;
}

.intro{
  position: relative;
  top:5em;
  /*left:5em;*/
  text-align: left;
}

.feature-product-row{
  /*width: 100%;*/
  /*display: inline-block;*/
}

.featured-product{
  position: relative;
  top:5em;
  margin-bottom:10em;
  z-index: 9;
}

.featured-product figurecaption{
  padding:1em;
  position: absolute;
  top: 30%;

}

.home-blog{
  padding-bottom:10%;
}

.home-blog-title{
  margin: 5% 10%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5em;
  border-bottom: 1px solid black;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

/*Product page*/
.product-cover{
  position: relative;
  background-image: url("../img/product-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;

}

.product-row{
  position: relative;
  top:5em;
}

.product-tile{
  border-bottom: 1px black solid;
}

.product-tile img:hover, .blog-post a img:hover{
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */

}

.product-tile p, .product-tile h4{
  padding:0 20px;
}

/*Blog page*/
.blog-post{
  text-align: left;
  position: relative;
  top:5em;
  width: 66%;
  margin: 0px auto;
  padding: 0px;

  }

.blog-cover{
  position: relative;
  background-image: url("../img/blog-cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:9em;
  padding-top: 8em;
  padding-bottom:18em;
}

.blog-tile-cover {
/*  object-fit: cover;
  width: 22em;
  height: 18em*/;
  min-height: 100%;
}

.blog_image{

  width: 40%;
  position: relative;
  display: inline-block;
  left: 0px;
  padding: 0px;

}
.blog_title{
  top: 0px;
  width: 58% ;
/*  vertical-align: top;
*/  text-align: left;
  position: relative;
  display: inline-block;
  margin:0px;
  padding: 0px;
  padding-left: 2em;

}

.blog_text{
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: left;

}

.new-post {
  padding: 4% 0;
}

.new-post .main-button{
/*  position: absolute;
  right:0em;*/

}

@media(max-width: 48em){
  .blog-post{
    width: 95%;
  }


}
@media(max-width: 48em){
  .blog-post{
    width: 100%;
    padding: 10%;
  }
  .blog_image, .blog_title{
      width: 100%;

  }
  .blog_text, .blog_title{
    text-align: left;
    padding: 0px 1em;
  }
  .blog_text{
    padding-bottom: 1em;
  }


}

/* ------------- Shopping cart -------------*/

.cart_page{
  text-align: center;
  position: relative;
  width: 70%;
  height: 75vh;
  margin: auto 0px;
  top: 5em;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  border:1px solid #F0F0F0;
  background-color: #FAFAFA;


/*  padding-bottom: 10em;
*/}

.cart_header{
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 2em;

}

.shopping_cart_image{
/*  min-height: 100%;
*/
}


.cart_image{
  vertical-align: top;
  position: relative;
  display: inline-block;
/*  height: 20%;
*/  width: 20%;
}

.cart_item{
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 2em;
  margin-top: 2em;
  text-align: left;
}

.cart_price{
  text-align: left;
  position: relative;
  display: inline-block;
  width: 20%;
}

.cart_total_price{
  text-align: right;
  position: relative;
  display: inline-block;
  padding-left: 65%;


}

.price_total{
  padding-bottom: 2em;
  border-top: 1px solid #d0d0d0;
}

@media(max-width: 50em){
  .cart_page{
    width: 100%;
  }
  

}
@media(max-width: 50em){
  .cart_page{
    height: 100%;
  }
  .cart_image{
    width: 60%;
  }
  .cart_item, .cart_price{
    padding-left: 20%;
    width: 100%;
  }
  

}

.gohome{
  width: 10%;
  margin: auto;
  background-color: #00b1b0;
}

.gohome:hover, .gohome:active{
  background-color: white;
}

/*Footer*/
footer{
  display: block;
  position: relative;
  top:5em;
  width: 100%;
  background-color: #00b1b0;
  color:#b5e3d8;
  text-align: center;
  padding:1em;
  margin-top: 2em;
}

/*Fit image to container*/
.cover {
  object-fit: cover;
  width: 30em;
  height: 20em;
}