body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1475px;
  top:139px;
  width:790px;
  height:311px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:311px;
}
#u1 {
  position:absolute;
  left:2px;
  top:148px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:81px;
  top:152px;
  width:88px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:47px;
  top:385px;
  width:157px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:87px;
  top:612px;
  width:77px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:85px;
  top:801px;
  width:80px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:87px;
  top:989px;
  width:77px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:60px;
  top:1204px;
  width:132px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1563px;
  top:166px;
  width:615px;
  height:173px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:173px;
}
#u16 {
  position:absolute;
  left:2px;
  top:78px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:854px;
  top:383px;
  width:126px;
  height:37px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:2560px;
  top:383px;
  width:244px;
  height:37px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:37px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1680px;
  top:383px;
  width:379px;
  height:37px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:440px;
  top:538px;
  width:2860px;
  height:1042px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2860px;
  height:1042px;
}
#u24 {
  position:absolute;
  left:2px;
  top:513px;
  width:2856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:2930px;
  top:1640px;
  width:26px;
  height:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:2987px;
  top:1640px;
  width:26px;
  height:26px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:3045px;
  top:1640px;
  width:26px;
  height:26px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u30 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:3102px;
  top:1640px;
  width:26px;
  height:26px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u32 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:3159px;
  top:1640px;
  width:26px;
  height:26px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:3217px;
  top:1640px;
  width:26px;
  height:26px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:3274px;
  top:1640px;
  width:26px;
  height:26px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:440px;
  top:1910px;
  width:250px;
  height:96px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:96px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:3050px;
  top:1910px;
  width:250px;
  height:96px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:96px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:440px;
  top:1640px;
  width:1430px;
  height:132px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:132px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  word-wrap:break-word;
}
