body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:92px;
  top:40px;
  width:136px;
  height:58px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:21px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:106px;
  top:80px;
  width:107px;
  height:10px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:10px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:18px;
  top:120px;
  width:286px;
  height:190px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:190px;
}
#u5 {
  position:absolute;
  left:2px;
  top:87px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:17px;
  top:4px;
  width:47px;
  height:16px;
  font-size:8px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:112px;
  top:50px;
  width:96px;
  height:27px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:284px;
  top:80px;
  width:20px;
  height:10px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:18px;
  top:80px;
  width:36px;
  height:10px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:10px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:221px;
  top:320px;
  width:7px;
  height:7px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:234px;
  top:320px;
  width:7px;
  height:7px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:246px;
  top:320px;
  width:7px;
  height:7px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:259px;
  top:320px;
  width:7px;
  height:7px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:272px;
  top:320px;
  width:7px;
  height:7px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:284px;
  top:320px;
  width:7px;
  height:7px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:297px;
  top:320px;
  width:7px;
  height:7px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:530px;
  width:319px;
  height:38px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:492px;
  width:319px;
  height:38px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:38px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:506px;
  width:250px;
  height:10px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:underline;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:10px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:540px;
  width:250px;
  height:10px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:underline;
  color:#000000;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:10px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:18px;
  top:320px;
  width:172px;
  height:72px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:7px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:72px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
