body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:81px;
  top:152px;
  width:88px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:47px;
  top:385px;
  width:157px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:87px;
  top:612px;
  width:77px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:85px;
  top:801px;
  width:80px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:87px;
  top:989px;
  width:77px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:60px;
  top:1204px;
  width:132px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:510px;
  top:126px;
  width:997px;
  height:444px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:444px;
}
#u14 {
  position:absolute;
  left:2px;
  top:214px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1567px;
  top:126px;
  width:997px;
  height:938px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:938px;
}
#u16 {
  position:absolute;
  left:2px;
  top:461px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:2624px;
  top:126px;
  width:997px;
  height:444px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:444px;
}
#u18 {
  position:absolute;
  left:2px;
  top:214px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:510px;
  top:620px;
  width:997px;
  height:444px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:444px;
}
#u20 {
  position:absolute;
  left:2px;
  top:214px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:510px;
  top:1126px;
  width:997px;
  height:444px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:444px;
}
#u22 {
  position:absolute;
  left:2px;
  top:214px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:614px;
  top:1180px;
  width:790px;
  height:235px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:235px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1567px;
  top:1126px;
  width:1503px;
  height:444px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:444px;
}
#u26 {
  position:absolute;
  left:2px;
  top:214px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:3130px;
  top:1126px;
  width:491px;
  height:444px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:444px;
}
#u28 {
  position:absolute;
  left:2px;
  top:214px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:2624px;
  top:620px;
  width:997px;
  height:444px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:444px;
}
#u30 {
  position:absolute;
  left:2px;
  top:214px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:2728px;
  top:674px;
  width:790px;
  height:235px;
  font-family:'Karla-Regular', 'Karla';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:235px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:497px;
  top:1636px;
  width:1533px;
  height:444px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1533px;
  height:444px;
}
#u34 {
  position:absolute;
  left:2px;
  top:214px;
  width:1529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:2100px;
  top:1636px;
  width:1521px;
  height:444px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1521px;
  height:444px;
}
#u36 {
  position:absolute;
  left:2px;
  top:214px;
  width:1517px;
  visibility:hidden;
  word-wrap:break-word;
}
